<!-- <h3>Sandbox Component</h3> -->
<app-parent></app-parent>

<!-- <div class="container">
  <div class="row">
    <app-info-box [title]="'Sanbdbox'" [version]="'red'"></app-info-box>
  </div>

  <div class="row">
    <app-info-box [title]="'Sanbdbox'" [version]="'red'"></app-info-box>
  </div>

  <div class="row">
    <app-info-box [title]="'Sanbdbox'" [version]="'red'"></app-info-box>
  </div>

  <div class="row">
    <app-info-box [title]="'Sanbdbox'" [version]="'red'"></app-info-box>
  </div>
</div>
 -->
