<h2>App Component</h2>
<h3>Tu będzie menu dla całej apki</h3>

<router-outlet></router-outlet>

<div class="container">

  <app-info-box></app-info-box>

  <app-info-box [title]="'Tytuł Boxa 1'" [subtitle]="'Podtytuł 1'" [text]="'Tekst Info Boxa 1'"
    [version]="'green'">
  </app-info-box>

  <app-info-box [title]="'Tytuł Boxa 1'" [subtitle]="'Podtytuł 1'" [text]="'Tekst Info Boxa 1'"
    [version]="'yellow'">
  </app-info-box>

  <app-info-box [title]="'Tytuł Boxa 1'" [subtitle]="'Podtytuł 1'" [text]="'Tekst Info Boxa 1'"
    [version]="'red'">
  </app-info-box>

  <app-warning-box [title]="'Tytuł Boxa 1'" [subtitle]="'Podtytuł 1'" [text]="'Tekst Info Boxa 1'"
    class="warning-box"
    [version]="'lightblue'">
  </app-warning-box>

  <app-warning-box
    [version]="'blue'">
  </app-warning-box>

</div>

<div class="container">
  <app-card></app-card>
  <app-card></app-card>
</div>


